<h1>posts</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>File</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Last Updated</th> 
        </tr>

    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{_id}}</td>
            <td><img src="/uploads/{{file}}" height="50" class="img-responsive"></td>
            <td>{{title}}</td>
            <td>{{category.name}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
            <td>{{#dateModifier date 'MMM Do YYYY hh:mm:ss'}}{{/dateModifier}}</td>
            <td><a href="/post/{{slug}}">view</a></td>
            <td><a href="/admin/posts/edit/{{_id}}" class="btn btn-info">edit</a></td>
            <td>
                <form action="/admin/posts/{{_id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
